html{

  font-size: 16px;

}

body{
	/*overflow-y: hidden;*/
	background-color: #dcdfe2;/*#e9ebee;*/
	margin: 0;
	font-family: 'Roboto Condensed', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	overflow-x: hidden;
}
a{
	text-decoration: none;
}
.main{
	width: 100vw;
	height: 90vh;
	/*background-color: #1e1e1e;*/
	background-color: #efefef;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.main-line{
	background-color: #1e1e1e;
	width: 100%;
	height: 20px;
	align-self: flex-start;
}
.main-line-2{
	background-color: #1e1e1e;
	width: 100%;
	height: 3px;
	align-self: flex-start;
}
.main-title{
	font-size: 50px;
}
.nav{
	display: grid;
	background: #1e1e1e;
	width: 100vw;
	height: 50px;

	/*position: fixed;
	top: 0;
	left: 0;*/

	grid-template-columns: 1fr;

	color: white;
	
	box-shadow: 1px 0 1px 0 rgba(0, 0, 0, .5);

	
}
.items{
	height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.nav-item{
	
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	padding: 18px 15px;
	font-size: 16px;
	transition: all ease .5s;
}
.nav-item:hover{
	background-color:#1e1e1e; /*#ffcc00;*/
	color: white;/* #1e1e1e;*/
}
.button{
	display: none;
}
.search-button{
	/*background-color: #ffcc00;*/
	width: 50px;
	height: 50px;

}
.seccion-categoria{
	background-color: #efefef;
	height: 220vh;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
	text-align: center;
}
.container{

	width: 70vw;
	height: 200vh;
	background-color: white;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);

	display: grid;
	overflow-x: hidden;

	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
	

	padding: 20px;
}
.container-category{
	width: 70vw;
	height: 200vh;
	background-color: white;
	display: grid;
	grid-template-rows: repeat(6,1fr);
	box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
}

.review{
	display: flex;
	width: 100%;
	height: 100%;
	
	/*background-color: blue;*/
	box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
	background-size: cover;
}
.review-category{
	display: flex;
	width: 100%;
	height: 100%;
	
	background-color: #3e3e3e;
	background-blend-mode: multiply;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
	background-size: cover;
}
.review:nth-of-type(1){
	background-image: url('../assets/img1.jpg');
	grid-column: 1 / 3;
	font-size: 1.7em;
}
.review-category:nth-of-type(1){
	background-image: url('../assets/img1.jpg');
}
.review-category:nth-of-type(2), .review:nth-of-type(2){
	background-image: url('../assets/img2.jpg');
}
.review-category:nth-of-type(3), .review:nth-of-type(3){
	background-image: url('../assets/img3.jpg');
}
.review-category:nth-of-type(4), .review:nth-of-type(4){
	background-image: url('../assets/img4.jpg');
}
.review-category:nth-of-type(5),.review:nth-of-type(5){
	background-image: url('../assets/img5.jpg');
}

.review:nth-of-type(6){
	background-image: url('../assets/img6.jpg');
	grid-column: 1 / 3;
	font-size: 1.2em;

}
.review-category:nth-of-type(6){
	background-image: url('../assets/img6.jpg');
}
.information{
	align-self: flex-end;
	background-color: rgba(20,20,20,0.8);
	width: 100%;
	height: 25%;
	padding: 10%;
	padding-top: 5%;


}
.review-category .information{
	position: block;
	align-self: flex-end;
	background-color: rgba(20,20,20,0);
	width: 100%;
	height: 30%;
	padding: 10%;
	padding-top: 5%;
	font-size: 1.1em;
	text-transform: uppercase;


}
.information .category{
	color: #ffcc00;
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
	align-self: flex-end;
}
.information .title{
	color: white;
	font-size: 1.7em;
	font-weight: bold;
	
}
.review-category .information .title{
	text-align: center;
}
.destacados{
	width: 100vw;
	height: 55vh;

}
.destacados-list{
	background-color: #efefef;
	width: 98%;
	height: 100%;
	box-shadow: 1px 0 1px 0 rgba(0, 0, 0, .5);
	display: flex;
	flex-direction: column;
	padding: 0 50px;
}
.destacados-items{
	display: grid;
	justify-content: center;
	width: 96%;
	height: 250px;
	background-color: #1e1e1e;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
.title-des{
	display: flex;
	flex-direction: column;
}
.imagen-des{
	width: 100%;
	height: 250px;
	background: #cecece;
	background-image: url('../assets/img1.jpg');
	background-size: cover;
	
	background-blend-mode: multiply;
}
.category-des{
	background-color: rgba(10, 10, 10, .9);
	color: #ffcc00;;
	text-transform: uppercase;
	font-weight: bold;
	padding: 5px 10px;
	position: relative;
	top: 10px;
	left: 0;
	width: 100px;
	height: 20px;
	text-align: center;
	letter-spacing: 1px;
}



.footer{
	background-color: #1e1e1e;/*#efefef;;*/
	height: 100px;
	width: 100%;
	box-shadow: 1px 0 1px 0 rgba(0, 0, 0, .5);
	z-index: 100;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;

	text-align: center;
}
.footer h1{
	color: white;
	letter-spacing: 1px;
	font-size: 1.5rem;
}
.correo{
	background-color: #1e1e1e;
	border-radius: 25px;
	height: 50px;
	width: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #eaeadc;
	letter-spacing: 1px;

}
.redes{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70px;
}
.red-social{
	
	border-radius: 15px;
	height: 50px;
	width: 50px;
	margin: 0 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}


@media screen and (max-width: 1100px){
	.container{

		width: 96vw;
		grid-gap: 20px;
	}
	.review:nth-of-type(1){
		grid-column: 1 / 3;

		font-size: 1.7em;
	}
}
@media screen and (max-width: 900px){
	.container{
		width: 100vw;
		height: 1800px;
		padding: 0;
		grid-gap: 0;
		overflow-x: hidden;
		overflow-y: all;

	}
	.container-category{
		width: 100vw;
		grid-template-rows: repeat(6,1fr);
	}
	.review-category:nth-of-type(1){
		grid-row: 1 / 2;
	}
	.review{
		font-size: 1.2rem;
	}
	.nav-item{
	
		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: 1px;
		padding: 18px 15px;
		
		transition: all ease .5s;
	}

}
@media screen and (max-width: 660px){
	.container{
		width: 100vw;
		height: 170vh;
		padding: 0;
		grid-gap: 0;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(6,1fr);
		overflow-x: hidden;
		overflow-y: all;

	}
	.information{
		padding-left: 5%;
		padding-right: 5%;
	}
	.review{
		grid-column: 1 / -1;
		font-size: .95em;

	}
	.review:nth-of-type(1){
		grid-column: 1 / -1;
		grid-row: 1 / 2;
		font-size: .95em;
	}
	.review:nth-of-type(6){
		grid-column: 1 / 3;
		grid-row: 6 / 7;
		font-size: .95em;

	}
	.button{
		display: flex;
		height: 50px;
		width: 100vw;
		font-size: 25px
		justify-content: flex-start;
		align-items: center;
		padding: 0px 15px;
	}
	.nav{
		display: flex;
		flex-direction: column;
		position: fixed;
		top: 0;
		left: 0;
		background: #1e1e1e;
		width: 100vw;
		height: auto;

		/*position: fixed;
		top: 0;
		left: 0;*/

		grid-template-columns: 1fr;

		color: white;
		
		box-shadow: 1px 0 1px 0 rgba(0, 0, 0, .5);

		
	}
	.items{
		position: fixed;
		top: -100%;
		left: 0;
		z-index: 1000;
		height: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.nav-item{
		
		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: 2px;
		padding: 18px 100vw;
		font-size: 16px;
		transition: all ease .5s;
	}
	.nav-item:hover{
		
		background-color: white;
		color: #1e1e1e;
	}


}
/*@media screen and (max-width: 800px){
	.container{

		
		grid-gap: 0;
		padding: 0;
	}
	.main-reviews{
				
		grid-gap: 0;
		
	}
	.other-last-reviews{
		grid-gap: 0;
	}
	.second-reviews{
					
		grid-gap: 0;

	}
}


