html{

  font-size: 16px;

}

body{
	/*overflow-y: hidden;*/
	background-color: #dcdfe2;/*#e9ebee;*/
	margin: 0;
	font-family: 'Roboto Condensed', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	overflow-x: hidden;
}
a{
	text-decoration: none;
}
.main{
	width: 100vw;
	height: 90vh;
	/*background-color: #1e1e1e;*/
	background-color: #efefef;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.main-line{
	background-color: #1e1e1e;
	width: 100%;
	height: 20px;
	align-self: flex-start;
}
.main-line-2{
	background-color: #1e1e1e;
	width: 100%;
	height: 3px;
	align-self: flex-start;
}
.main-title{
	font-size: 50px;
}
.nav{
	display: grid;
	background: white; /*#1e1e1e;*/
	width: 100vw;
	height: 50px;

	/*position: fixed;
	top: 0;
	left: 0;*/

	grid-template-columns: 1fr;

	color: black;
	
	box-shadow: 1px 0 1px 0 rgba(0, 0, 0, .5);

	
}
.items{
	height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.nav-item{
	
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	padding: 18px 15px;
	font-size: 16px;
	transition: all ease .5s;
}
.nav-item:hover{
	background-color:#1e1e1e; /*#ffcc00;*/
	color: white;/* #1e1e1e;*/
}
.button{
	display: none;
}
.search-button{
	/*background-color: #ffcc00;*/
	width: 50px;
	height: 50px;

}
.container{

	width: 70vw;
	height: 100vh;
	background-color: white;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);

	display: grid;
	overflow-y: hidden;

	grid-template-rows: 5fr 3fr;
	grid-template-columns: 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;

	padding: 20px;
}
.main-reviews{
	
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1.5fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}
.last-review{
	/*background-color: red;*/
}
.other-last-reviews{
	
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr;
	grid-row-gap: 10px;
	grid-column-gap: 10px;
}
.second-reviews{
	
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;

}
.review{
	display: flex;
	width: 100%;
	height: 100%;
	
	box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
	background-size: cover;
}
.information{
	align-self: flex-end;
	background-color: rgba(20,20,20,0.8);
	width: 100%;
	height: 25%;
	padding: 10%;
	padding-top: 5%;


}
#uno{
	background: url('../assets/img1.jpg');
	background-size: cover;
	background-blend-mode: multiply;
	font-size: 1.5em
}
#dos{
	background: url('../assets/img2.jpg');
	background-size: cover;
	background-blend-mode: multiply;
	font-size: .9em
}
#tres{
	background: url('../assets/img3.jpg');
	background-size: cover;
	background-blend-mode: multiply;
	font-size: .9em
}
#cuatro{
	background: url('../assets/img4.jpg');
	background-size: cover;
	background-blend-mode: multiply;
	font-size: .8em
}
#cinco{
	background: url('../assets/img5.jpg');
	background-size: cover;
	background-blend-mode: multiply;
	font-size: .8em
}
#seis{
	background: url('../assets/img6.jpg');
	background-size: cover;
	background-blend-mode: multiply;
	font-size: .8em
}
.information .category{
	color: #ffcc00;
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
}
.information .title{
	color: white;
	font-size: 1.7em;
	font-weight: bold;
	
}
.destacados{
	width: 100vw;
	height: 55vh;

}
.destacados-list{
	background-color: #efefef;
	width: 98%;
	height: 100%;
	box-shadow: 1px 0 1px 0 rgba(0, 0, 0, .5);
	display: flex;
	flex-direction: column;
	padding: 0 50px;
}
.destacados-items{
	display: grid;
	justify-content: center;
	width: 96%;
	height: 250px;
	background-color: #1e1e1e;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
.title-des{
	display: flex;
	flex-direction: column;
}
.imagen-des{
	width: 100%;
	height: 250px;
	background: #cecece;
	background-image: url('../assets/img1.jpg');
	background-size: cover;
	
	background-blend-mode: multiply;
}
.category-des{
	background-color: rgba(10, 10, 10, .9);
	color: #ffcc00;;
	text-transform: uppercase;
	font-weight: bold;
	padding: 5px 10px;
	position: relative;
	top: 10px;
	left: 0;
	width: 100px;
	height: 20px;
	text-align: center;
	letter-spacing: 1px;
}



.footer{
	background-color: #1e1e1e;/*#efefef;;*/
	height: 100px;
	width: 100vw;
	box-shadow: 1px 0 1px 0 rgba(0, 0, 0, .5);
	z-index: 100;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	padding: 10px;
	padding-bottom: 30px;
	text-align: center;
}
.footer h1{
	color: white;
	letter-spacing: 1px;
	font-size: 1.5rem;
}
.correo{
	background-color: #1e1e1e;
	border-radius: 25px;
	height: 50px;
	width: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #eaeadc;
	letter-spacing: 1px;

}
.redes{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70px;
}
.red-social{
	background-color: black;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	margin: 0 10px;
}
@media screen and (max-width: 900px){
	.container{
		width: 100vw;
		height: 100vh;
		padding: 0;
		grid-gap: 0;
		overflow-x: hidden;
		overflow-y:auto;

	}
	.main-reviews{
				
		grid-gap: 0;
		grid-template-rows: 500px 400px;
		grid-template-columns: 2fr;
	}
	.other-last-reviews{
		grid-gap: 0;
		grid-template-rows: 400px;
		grid-template-columns: 1fr 1fr;
	}
	.second-reviews{
		height: 800px;			
		grid-gap: 0;
		grid-template-rows: 200px 200px 200px;
		grid-template-columns: 1fr;

	}
}
@media screen and (max-width: 1100px){
	.container{

		width: 96vw;

	}

}
@media screen and (max-width: 900px){
	.container{
		width: 100vw;
		height: 1500px;
		padding: 0;
		grid-gap: 0;
		overflow-x: hidden;
		overflow-y: all;

	}
	.nav-item{
	
		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: 1px;
		padding: 18px 15px;
		font-size: 12px;
		transition: all ease .5s;
	}
	.main-reviews{
				
		grid-gap: 0;
		grid-template-rows: 500px 400px;
		grid-template-columns: 2fr;
	}
	.other-last-reviews{
		grid-gap: 0;
		grid-template-rows: 400px;
		grid-template-columns: 1fr 1fr;
	}
	.second-reviews{
		height: 600px;			
		grid-gap: 0;
		grid-template-rows: 200px 200px 200px;
		grid-template-columns: 1fr;

	}
}
@media screen and (max-width: 500px){
	.container{
		width: 100vw;
		height: 1700px;
		padding: 0;
		grid-gap: 0;
		overflow-x: hidden;
		overflow-y: all;

	}
	.button{
		display: flex;
		height: 40px;
		width: 100vw;
		justify-content: flex-start;
		align-items: center;
		padding: 0px 15px;
	}
	.nav{
		display: flex;
		flex-direction: column;
		position: fixed;
		top: 0;
		left: 0;
		background: #1e1e1e;
		width: 100vw;
		height: auto;

		/*position: fixed;
		top: 0;
		left: 0;*/

		grid-template-columns: 1fr;

		color: white;
		
		box-shadow: 1px 0 1px 0 rgba(0, 0, 0, .5);

		
	}
	.items{
		position: fixed;
		top: -100%;
		left: 0;
		z-index: 1000;
		height: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.nav-item{
		
		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: 2px;
		padding: 18px 100vw;
		font-size: 16px;
		transition: all ease .5s;
	}
	.nav-item:hover{
		
		background-color: white;
		color: #1e1e1e;
	}
	.main-reviews{
				
		grid-gap: 0;
		grid-template-rows: 500px 600px;
		grid-template-columns: 2fr;
	}
	.other-last-reviews{
		grid-gap: 0;
		grid-template-rows: 300px 300px;
		grid-template-columns: 1fr;

	}
	.second-reviews{
		height: 600px;			
		grid-gap: 0;
		grid-template-rows: 1fr 1fr 1fr;
		grid-template-columns: 1fr;

	}
	#uno{
		background: url('../assets/img1.jpg');
		background-size: cover;
		background-blend-mode: multiply;
		font-size: 1.3em
	}

}
/*@media screen and (max-width: 800px){
	.container{

		
		grid-gap: 0;
		padding: 0;
	}
	.main-reviews{
				
		grid-gap: 0;
		
	}
	.other-last-reviews{
		grid-gap: 0;
	}
	.second-reviews{
					
		grid-gap: 0;

	}
}


